name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13.*'

    - name: Install dependencies
      run: |
        pip install pytest

    - name: Run tests and generate report
      run: |
        mkdir -p test-results
        pytest tests --junitxml=test-results/result.xml

    - name: Upload test results
      uses: actions/upload-artifact@v3
      with:
        name: python-test-results
        path: test-results/result.xml